
<h1>Welcome aspiring rubyists!</h1>

<p>I created this site as a resource for those who want to give ruby/rails a try and just don't really know where to start.  There are so many resources out there, it can be a bit overwhelming. I decided to put together a site with some of the most popular resources in hopes of helping people get off to a great start!</p>

<p>If you are new to programming and want to see if ruby is something you might like, I recommend checking out some of the free interactive resources in the sidebar. These are great starters and will give you an general understanding of how ruby works.
</p>

<p>Once you get a feel for things and decide that you want to move forward, use one of the simple installation tools at the top of the page. Setting up ruby/rails manually can be difficult, especially on a Windows machine, these tools will get you up and running fast.
</p>

<p>If you find yourself getting overwhelmed or frustrated, don't be afraid to reach out for help. The ruby/rails community is full of great people who are often willing to help someone new to the industry. I am still new to ruby/rails myself and often get help from friends when I run into issues.

</p>


