
<h1>Welcome aspiring rubyists!</h1>

<p>I created this site as a resource for those who want to give ruby/rails a try and just don't really know where to start.  There are so many resources out there, it can be a bit overwhelming. I decided to put together a site with some of the most popular resources in hopes of helping people get off to a great start!</p>

<p>If you want to land a great job writing code and doing what you love, I recommend this great book, <a href="http://www.amazon.com/No-Degree-Problem-ebook/dp/B00F7K5VWA/ref=sr_1_35?ie=UTF8&qid=1379287232&sr=8-35&keywords=no+degree%2C+no+problem"> No Degree, No Problem</a> by <a href="http://joshuakemp.blogspot.com">Joshua Kemp</a>

<a href="http://goo.gl/xA4MOL" target="_blank"/> <img src="http://imageshack.us/a/img31/7557/ynm.png" </a>


</p>


